body {
  padding: 0;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

.topnav {
  background-color: #7749f8;
  display: flex;
  padding: 1em;
  align-items: center;
  font-weight: bold;
}

.logo {
  flex: 1;
  font-size: 1.5em;
  font-weight: 700;
  color: #fff;
}

.navigation a {
  margin-right: 1.5em;
  color: #fff;
  text-decoration: none;
}

.active,
.navigation a:hover {
  border-bottom: 2px solid #fff;
  padding-bottom: 1em;
}

.container {
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 2em;
}

.greetingMessage {
  color: #7749f8;
  margin-left: 1em;
  font-weight:bold;
}

a {
  text-decoration: none;
}

a:visited {
  color: #ffffff;
}



/* @media only screen and (max-width: 400) {
  body {
    background-color: #fff;
  }
} */